body {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   background: linear-gradient(
      183deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 22%,
      rgba(0, 212, 255, 1) 100%
   );
   overflow: hidden;
}

.buttons {
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
}

.buttons button {
   font-size: 40px;
   width: 20%;
   height: 60px;
   cursor: pointer;
   background-color: grey;
   border: none;
   transition: 0.2s ease-in-out;
   border-bottom: 0.5px solid;
}
.buttons button:hover {
   background-color: rgb(58, 58, 58);
}
.buttons #equal {
   font-size: 40px;
   width: 80%;
   height: 60px;
}

.display {
   background-color: gray;
   width: 100%;
   height: 80px;
   font-size: 40px;
   border-bottom: 1px solid;
   text-align: left;
}
.container {
   margin-top: 50px;
   width: 20%;
   height: 50%;
   background-color: grey;
   -webkit-box-shadow: 0px 1px 15px 7px #000000;
   box-shadow: 0px 1px 15px 7px #000000;
}

@media screen and (max-width: 930px) {
   .buttons {
      padding: 0px;
   }

   .buttons button {
      font-size: 10px;
      width: 10%;
      height: 50px;
      cursor: pointer;
      background-color: grey;
      border: none;
      transition: 0.2s ease-in-out;
      border-bottom: 0.5px solid;
   }

   .buttons #equal {
      font-size: 10px;
      width: 80%;
      height: 50px;
   }

   .display {
      background-color: gray;
      width: 100%;
      height: 40px;
      font-size: 10px;
      border-bottom: 1px solid;
      text-align: left;
   }
}
